{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
<h1>Modifier mon profil</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.profilePic) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
