{% extends 'base.html.twig' %}

{% block title %}New Trophy{% endblock %}

{% block body %}
    <h1>Create new Trophy</h1>

    {{ include('trophy/_form.html.twig') }}

    <a href="{{ path('app_trophy_index') }}">back to list</a>
{% endblock %}
